.projectsPage {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 3rem 1fr;

    nav {
        background-color: var(--c-pnl);

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;

        h1 {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 1.6em;
        }

        .actions {
            margin-left: auto;
            margin-right: 0.25rem;
        }
    }
}

.iconBtn {
    display: grid;
    align-items: center;
    padding: 0.4rem;
}